*{margin: 0;
}
header{
    height: 10vh;
    max-width: 100%
}
main{ min-height: 80vh;
    max-width: 100%;
    padding-bottom: 1rem;
}

.tarjetita{
    width: 25%;
}

.contenedorcito{
    display: flex;
    background-size: cover;
}

.contenedor-botonera {
    height: 15vh;
}
.row.tarjetas{
    width: 50vh;
}
.card-img-top {
    width: 90%;
    height: 15vw;
    object-fit: cover;
}

footer{
    margin-top: 0;
    background-color: lightgray;
    color: black;
}

@media screen and ( max-width:768px){
    .contenedor-botonera-d-flex{
        display: flex;
        flex-direction: column;
        gap: 0;
        border-bottom: none;
        border-top: red 1px solid;
    }

    
}

